:root {
  --outer-space: #fcf8ec;
  --bright-turquoise: #d0e8f2;
  --gin: #d0e8f2;
  --heliotrope: #456268;
}

html {
  font-size: 62.5%;
}

header {
  z-index: 2;
  flex: auto;
  position: sticky;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  border-bottom: 10px ridge #457b9d;
  opacity: 1;
}

header h1.page-title {
  font-size: 4.5rem;
}

body {
  font-family: "STIX Two Text", serif;
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--outer-space);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
  color: 0000;
}

img {
  flex: auto;
  max-width: 98%;
  padding: 1px;
  text-align: center;
}

main {
 display:flex;
 flex-direction: column 2;

  width: 96%;
  margin: 1rem auto;
  text-align: center;
  top: 0 auto;
  padding: 2.5rem;
}

section {
  top: 0 auto;
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d3557;
}

li {
  float: right;
}

li a {
  display: block;
  color: #f1faee;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #8ec5e7;
}



/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}


#hero {
  display: flexbox;
  float: none;
  background-image: url("covid.jpg");
  background-position: center;
  text-align: center;
  color: #1d3557;
  width: 75%;
  border-style: ridge;
  border-radius: 20px;
  border-color: darkblue;
  border-width: 5px;
  margin-bottom: 2rem;
}

.white {
  color: white;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
  display: flex;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

/* make each code card a flexbox column to align and justify content within it */
.code-card {
  top: 0 auto;
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--heliotrope);
}

.code-card .card-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #f1faee;
  color: var(--heliotrope);
  border: 2px ridge var(--gin);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.code-card:hover {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.code-card .code-block {
  flex-grow: 1;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 75%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* textarea */
.form-container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

footer {
  display: flexbox;
  position: relative;
  float: none;
  bottom: 0px;
  margin: 0;
  text-align: center;
  color: white;
  background-color: #1d3557;
  border-style: ridge;
  border-color: #1d3557;
  border-width: 2.5px;
  border-radius: 8px;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
