:root {
  --darkblue: darkblue;
  --lightblue: lightblue;
  --gin: #e0eae4;
  --darkred: darkred;
}

/* set content highlight color and background */
::selection {
  background-color: var(--lightblue);
  color: var(--darkblue);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--darkblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--darkred);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
}

main {
  width: 96%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--darkred);

  outline: 2px dashed var(--gin);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.card .card-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--darkblue);
  color: var(--darkred);
  border: 2px solid var(--gin);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.card:hover,
.card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--darkred), 0 0 15px var(--darkred);
}



.card pre {
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: var(--gin);
  border-radius: 8px;
  background-color: var(--lightblue);
  display: flex;
  align-items: center;
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
<!--Covid Art Center Piece & Navbar Start-->
<div class="tile is-flex-direction-row is-justify-content-space-evenly is-align-content-center">
  <div class="tile is-flex-direction-column is-2 p-6 m-4 is-justify-content-left is-align-content-center">
    <h3>Get your local Covid information.</h3>
    <br>
    <div class="dropdown" id="dropdown-menu">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" id="select-button">
          <span id="select-text">Select your State</sis-danger is-lightpan>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="false"></i>
            </span>
        </button>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content" id="dropdown">
          <a class="dropdown-item">Alabama</a>
          <a class="dropdown-item">Alaska</a>
          <a class="dropdown-item">Arizona</a>
          <a class="dropdown-item">Arkansas</a>
          <a class="dropdown-item">California</a>
          <a class="dropdown-item">Colorado</a>
          <a class="dropdown-item">Connecticut</a>
          <a class="dropdown-item">Delaware</a>
          <a class="dropdown-item">Florida</a>
          <a class="dropdown-item">Georgia</a>
          <a class="dropdown-item">Hawaii</a>
          <a class="dropdown-item">Idaho</a>
          <a class="dropdown-item">Illinois</a>
          <a class="dropdown-item">Indiana</a>
          <a class="dropdown-item">Iowa</a>
          <a class="dropdown-item">Kansas</a>
          <a class="dropdown-item">Kentucky</a>
          <a class="dropdown-item">Louisiana</a>
          <a class="dropdown-item">Maine</a>
          <a class="dropdown-item">Maryland</a>
          <a class="dropdown-item">Massachusetts </a>
          <a class="dropdown-item">Michigan</a>
          <a class="dropdown-item">Minnesota</a>
          <a class="dropdown-item">Mississippi</a>
          <a class="dropdown-item">Missouri</a>
          <a class="dropdown-item">Montana</a>
          <a class="dropdown-item">Nebraska</a>
          <a class="dropdown-item">Nevada</a>
          <a class="dropdown-item">New Hampshire</a>
          <a class="dropdown-item">New Jersey</a>
          <a class="dropdown-item">New Mexico</a>
          <a class="dropdown-item">New York</a>
          <a class="dropdown-item">North Carolina</a>
          <a class="dropdown-item">North Dakota</a>
          <a class="dropdown-item">Ohio</a>
          <a class="dropdown-item">Oklahoma</a>
          <a class="dropdown-item">Oregon</a>
          <a class="dropdown-item">Pennsylvania</a>
          <a class="dropdown-item">Rhode Island</a>
          <a class="dropdown-item">South Carolina</a>
          <a class="dropdown-item">South Dakota</a>
          <a class="dropdown-item">Tennessee</a>
          <a class="dropdown-item">Texas</a>
          <a class="dropdown-item">Utah</a>
          <a class="dropdown-item">Vermont</a>
          <a class="dropdown-item">Virginia</a>
          <a class="dropdown-item">Washington</a>
          <a class="dropdown-item">West Virginia</a>
          <a class="dropdown-item">Wisconsin</a>
          <a class="dropdown-item">Wyoming</a>
        </div>
      </div>
    </div>
    <br>
    <p class="subtitle">Because <strong>Safety</strong> is truly in <strong>Numbers</strong>.</p>
  </div>
  
  <!--Covid Art Center Piece & NavBar End-->  <!--Covid Art Center Piece & Navbar Start-->
  <div class="tile is-flex-direction-row is-justify-content-space-evenly is-align-content-center">
    <div class="tile is-flex-direction-column is-2 p-6 m-4 is-justify-content-left is-align-content-center">

      <a href="https://covid.cdc.gov/covid-data-tracker/#datatracker-home" class="navbar-end"><img
          src="images\cdc.jpg"></a>
      <br>
      <br>
      <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019?gclid=Cj0KCQjw-NaJBhDsARIsAAja6dNRePmsDlMU3zdtrDzOdTnHfcmCvo-avDtdOmBZiumlkSaM__iXVS4aAsHvEALw_wcB"
        class="navbar-start"><img src="images\logo-who.jpg"></a>
      <br>
      <h3>Get your local Covid information.</h3>
      <br>
      <div class="dropdown" id="dropdown-menu">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" id="select-button">
            <span id="select-text">Select your State</sis-danger is-lightpan>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="false"></i>
              </span>
          </button>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content" id="dropdown">
            <a class="dropdown-item">Alabama</a>
            <a class="dropdown-item">Alaska</a>
            <a class="dropdown-item">Arizona</a>
            <a class="dropdown-item">Arkansas</a>
            <a class="dropdown-item">California</a>
            <a class="dropdown-item">Colorado</a>
            <a class="dropdown-item">Connecticut</a>
            <a class="dropdown-item">Delaware</a>
            <a class="dropdown-item">Florida</a>
            <a class="dropdown-item">Georgia</a>
            <a class="dropdown-item">Hawaii</a>
            <a class="dropdown-item">Idaho</a>
            <a class="dropdown-item">Illinois</a>
            <a class="dropdown-item">Indiana</a>
            <a class="dropdown-item">Iowa</a>
            <a class="dropdown-item">Kansas</a>
            <a class="dropdown-item">Kentucky</a>
            <a class="dropdown-item">Louisiana</a>
            <a class="dropdown-item">Maine</a>
            <a class="dropdown-item">Maryland</a>
            <a class="dropdown-item">Massachusetts </a>
            <a class="dropdown-item">Michigan</a>
            <a class="dropdown-item">Minnesota</a>
            <a class="dropdown-item">Mississippi</a>
            <a class="dropdown-item">Missouri</a>
            <a class="dropdown-item">Montana</a>
            <a class="dropdown-item">Nebraska</a>
            <a class="dropdown-item">Nevada</a>
            <a class="dropdown-item">New Hampshire</a>
            <a class="dropdown-item">New Jersey</a>
            <a class="dropdown-item">New Mexico</a>
            <a class="dropdown-item">New York</a>
            <a class="dropdown-item">North Carolina</a>
            <a class="dropdown-item">North Dakota</a>
            <a class="dropdown-item">Ohio</a>
            <a class="dropdown-item">Oklahoma</a>
            <a class="dropdown-item">Oregon</a>
            <a class="dropdown-item">Pennsylvania</a>
            <a class="dropdown-item">Rhode Island</a>
            <a class="dropdown-item">South Carolina</a>
            <a class="dropdown-item">South Dakota</a>
            <a class="dropdown-item">Tennessee</a>
            <a class="dropdown-item">Texas</a>
            <a class="dropdown-item">Utah</a>
            <a class="dropdown-item">Vermont</a>
            <a class="dropdown-item">Virginia</a>
            <a class="dropdown-item">Washington</a>
            <a class="dropdown-item">West Virginia</a>
            <a class="dropdown-item">Wisconsin</a>
            <a class="dropdown-item">Wyoming</a>
          </div>
        </div>
      </div>
      <br>
      <p class="subtitle">Because <strong>Safety</strong> is truly in <strong>Numbers</strong>.</p>
    </div>
    
    <!--Covid Art Center Piece & NavBar End-->z